<div id="game-lobby" ng-controller="LobbyController as lobby" ng-show="lobby.lobbyVis()">
    <div id="lobby-box" class="display-box">

        <div id="lobby-head">
            <h1> Lobby </h1>
            <div id="player-info" class="left">
                <div id="player-top">
                    <img src="images/player-placeholder.jpg"  class="player-image lobby-player" ng-show="nameObj.PlayerImage == null"/>
                    <img src="{{nameObj.PlayerImage}}" class="player-image lobby-player" ng-hide="nameObj.PlayerImage == null"/>
                    <h4 class="player-name">{{userName}}</h4>
                </div>
            </div>

            <div id="logout-area" class="right">
                <button id="logout-button" class="pretty-button" type="button" ng-click="lobby.logOut()"> Log Out </button>
            </div>
        </div>
        <div id="pre-game" ng-show="obj==null">
            <div id="games-list">
                <h2 class="headings"> Games List </h2>
                <div id="lobby-display">
                    <div class="lobby-list" ng-hide="lobby.isGamesListEmpty()" ng-repeat="game in lobbyList">
                        <img src="images/game-placeholder.jpg" id="lobby-game" class="player-image"/>
                        <h4 class="game-data"> {{game.GameName}} </h4>
                        <p class="game-data"> {{game.Players}}/6 </p>
                        <p class="game-data"> {{lobby.gameType(game.Password)}} </p>
                        <button class="join-button" type="button" ng-click="lobby.joinGame(game.GameID)"> Join </button>
                    </div>
                </div>
                <div id="empty-list" ng-show="lobby.isGamesListLoading()">
                    <p class="center"> Fetching game(s), please be patient.. </p>
                </div>
                <div id="empty-list" ng-show="lobby.isGamesListEmpty()">
                    <p class="center"> There are currently no games available; please feel free to create one below. </p>
                </div>
            </div>
            <div class="create-game" >
                <h3> Create Game </h3>
                <form>
                    <input id="create-text" type="text" class="input-type create-input" name="gamename" placeholder="Lobby Name">
                    <button class="pretty-button create-button" type="button"  ng-click="lobby.setGameName()"> Create </button>
                </form>
            </div>
        </div>
        <div id="in-game" ng-show="obj!=null">
            <h2 class="headings"> {{Game.GameName}} </h2>
            <div id="player-area" class="lobby-area left">
                <h3> Players </h3>
                <div>
                    <div class="player-box" ng-repeat="player in players">
                        <img id={{playerString}}{{player.PlayerOrder}} src="images/player-placeholder.jpg"  class="player-image lobby-player" ng-show="nameObj.PlayerImage == null"/>
                        <img id={{playerString}}{{player.PlayerOrder}} src="{{nameObj.PlayerImage}}" class="player-image lobby-player" ng-hide="nameObj.PlayerImage == null"/>

                        <p class="player-name"> {{player.DisplayName}} </p>
                        <!--<img src="images/remove-button.jpg" class="remove-button"/>-->
                    </div>

                    <div class="player-box" ng-repeat="n in [0,1,2,3,4,5] | limitTo:lobbySize - players.length">
                        <canvas id="grey-color" class="player-color"> </canvas>
                        <p class="player-name"> Empty Slot </p>
                    </div>
                </div>
            </div>
            <div id="chat-area" class="lobby-area right align-right" >
                <button class="quit-button" type="button" ng-click="lobby.quitGame()"> Quit </button>
                <div id="message-area">
                    <p ng-repeat="message in chatMessages">
                        <em>{{message.Username}}</em> {{message.Message}}
                    </p>
                </div>
                <div id="chat-bar" class="create-game" >
                    <form>
                        <input id="chatbox" type="text" class="input-type create-input" name="chat" placeholder="Chat">
                        <button class="pretty-button create-button" type="button" ng-click="lobby.sendChat()"> Send </button>
                    </form>
                </div>
            </div>
            <div id="start-area">
                <button id="start-button" class="pretty-button start-buttons" type="button"  ng-show = "lobby.isHost()" ng-click="lobby.closeLobby()"> Start Game </button>
                <button id="quickstart-button" class="pretty-button start-buttons" type="button"  ng-show = "lobby.isHost()" ng-click="lobby.quickStart()"> Quick Start </button>
                <p id="bottom-margin" class="center" ng-hide = "lobby.isHost()" > Host will start the game shortly </p>
            </div>
        </div>


    </div>
</div>