@CHARSET "ISO-8859-1";

body, html {
	height: 100%;
	background: black;
}

.main-box {
	margin-left: 100px;
	margin-right: 100px;
	padding: 22px;
	font-size: 20px;
	background: white;
	opacity: 0.9;
	height: 100vh;
}

.box-top-header {
	font-size: 24px;	
	background-color: #c1e6dd;
}

.box-frame-title {
	background: #8080ff;
	color: white;
}

.box-frame-list {
	background-color: #ffcccd;
	height: 100%;
}

.box-frame-content {
	height: 250px;
	border: 1px solid #ccc; 
	overflow: auto;
	background-color: #d0f2cc;
}

.box-right {
	float: right;
}

.box-frame-content {
	height: 250px;
	border: 1px solid #ccc; 
	overflow: auto;
	background-color: #d0f2cc;
}

.txt-center {
	text-align: center;
}

ul {
	list-style-type: none;
}

table {
	width: 100%;
}

td {
	width: 25%;
}