@CHARSET "ISO-8859-1";

.lobby-box {
	margin-left: 100px;
	margin-right: 100px;
	padding: 22px;
	font-size: 20px;
	background: white;
	opacity: 0.9;
	
}

.lobby-header {
	font-size: 24px;	
}

.box-title {
	background: blue;
	color: white;
}

.txt-center {
	text-align: center;
}

.right {
	float: right;
}

.chat-box {
	height: 250px;
	width: 100%;
	border: 1px solid #ccc; 
	overflow: auto;
}


ul {
	list-style-type: none;
}

table {
	width: 100%;
}

td {
	width: 25%;
}