.container {
  margin: 0 auto;
  padding: 20px; }
  .container .card {
    float: left;
    position: relative;
    width: 150px;
    height: 210px;
    margin: 40px 20px;
    background: #fff;
    border-radius: 5px;
    border: 5px solid;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-color: black;
}

.name {
    position: absolute;
    top: 5px;
    left: 5px; 
    width: 100px;
}
.name span {
    font-size:12px;
    text-align: left;
}
.stat {
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    text-align: right;
}
.stat .vit {
    top: 5px;
    width: inherit;
    text-align: inherit;
}
.stat .pow {
    position: relative;
    width:inherit;
    text-align: inherit;
    top: 110px;
}
.stat .def {
    position: relative;
    width:inherit;
    text-align: inherit;
    top: 110px;
}
.stat .spd {
    position: relative;
    width:inherit;
    text-align: inherit;
    top: 110px;
}
.stat .int {
    position: relative;
    width:inherit;
    text-align: inherit;
    top:110px;
}

.flavor {
    position: absolute;
    top: 125px;
    left: 5px;
    font-size: 8px;
    width: 90px;
    height: 75px;
    border-radius: 1px;
    border-color: black;
    border: 1px SOLID;
} .flavor p{
    padding: 2px;
}
.cardart {
    text-align: center;
} .cardart img{
    position: relative;
    top: 25px;
    height: 90px;
    width: 115px;
    
}