.login-box-border {
    border: 2px solid blue;
    border-radius: 8px;
    padding: 12px;
}

.vert-space-sm {
	margin-top: 8px;
	margin-bottom: 8px;
}

.login-title {
	color: #ffffff;
}

#logoDiv img {
	display: block;
	margin: auto;
	width: 40%;
}